<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio Tutorial</title>
  </head>

  <body>
    <h1>Data Analyst Portfolio</h1>
    <img src="https://portfolio-tutorial.dafrireece.repl.co/static/data_bannar.jpg" height= "300">
    <h2> About </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Nisl suscipit adipiscing bibendum est ultricies. Dictumst quisque sagittis purus sit amet volutpat consequat mauris nunc. Commodo sed egestas egestas fringilla phasellus faucibus. Est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque. Gravida rutrum quisque non tellus orci. Leo a diam sollicitudin tempor id eu nisl nunc.</p>
    <h2> Projects </h2>
    <p>Projects will be updated here</p>
    <button> Contact </button>
    
  </body>
</html>